<MarketplaceDetails>
  <SmallAppTile>
  </SmallAppTile>
  <ScreenShots>Photo - Евгений Паничев (1).png;Photo - Евгений Паничев (2).png;Photo - Евгений Паничев (5).png;Photo - Евгений Паничев (3).png;Photo - Евгений Паничев (8).png;Photo - Евгений Паничев (4).png;Photo - Евгений Паничев (9).png;Photo - Евгений Паничев (6).png;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>